<?xml version="1.0"?>
<model>
  <name>gerard_bauzil_walls</name>
  <version>0.1.0</version>
  <author>
   <name>Olivier Stasse</name>
   <email>ostasse@laas.fr</email>
  </author>
  <sdf>gerard_bauzil_walls.sdf</sdf>
  <description>
    Simple model of Gerard Bauzil room at LAAS
  </description>
</model>
